html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

p {
    margin: 0 !important;
}

.navbar {
    background: $twitter-color;
}

.navbar-brand {
    color: white !important;
}

.navbar-nav {
    .navbar-item {
        color: white !important;
    }
}

.main {
    margin: 10vh 0;
}

.main-container {
    height: 400px;
    width: 100%;
    padding-top: 30px;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: "Segoe UI";
    padding: 80px;
    margin-bottom: 30px;
}

.content {
    box-sizing: border-box;
    max-width: 450px;
    position: relative;
    margin: auto;
}

.tweet-container {
    height: 30px;
    width: 30px;
    min-width: 30px;
    min-height: 50px;
    margin: 0 20px;
    position: absolute;
    left: -55px;
    top: 80px;
}

    .tweet-container img {
        width: 100%;
        height: 100%;
    }

.content-body {
    min-width: 400px;
}

.col-md-4 {
    color: black;
}

footer {
    margin-top: 80vh;
    margin-left: calc(-50vw + 50%);
    width: 100vw;
    color: white;
    background: black;
    padding: 30px;
}