// example-box
$twitter-color: #00acee;

// breakpoint (bootstrap)
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// header-breakpoint
$header-break: 1430px;

// example layout is breaked at this width
$example-break: 1250px;

// iphone size
$ipx: 375px;

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Hiragino Maru Gothic ProN";
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

// delete out line of hanbarger menu
button.navbar-toggler:focus {
    outline: none;
}

.br20 {
    border-radius: 20%;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

li {
    list-style: none;
}
