{% extends "layout.html" %}

{% block content %}

<section class="main">
    <div class="tweet">
        <h2 class="text-center">ツイートを解析する</h2>
        <div class="tweet_form">
            <form action="/tweet_analysis" method="POST" enctype="multipart/form-data">
                <label class="mt-5" for="tweet"></label>
                <textarea type="text" class="tweet__form" id="tweet" name="tweet"
                    placeholder="ハッシュタグを自動生成したいツイートを記入してください"></textarea>
                <div class="mt-5 form__submit text-center tweet__button" id="js-submit-form">
                    <button type="submit" class="submit-btn js-submit-get tweet__button__get">
                        <i class="fab fa-twitter target-twitter"></i>
                        <span class="submit-button-text"></span>Get
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}
